%footer.footer
  =link_to image_tag('logo-ginzarb.png', alt: 'ginza.rb', class: 'footer__logo-image'), 'http://ginzarb.github.io/', alt: 'ginza.rb', target: '_blank', class: 'footer__logo-link'
  .footer__copyright 主催: ginza.rb
  .footer__links
    =link_to image_tag('icon-twitter.png', class: 'footer__twitter'), 'https://twitter.com/ginzarb2', target:"_blank"
    =link_to image_tag('icon-github.png', class: 'footer__github'), 'https://github.com/ginzarb', target: '_blank'
    =link_to image_tag('icon-facebook.png', class: 'footer__facebook'), 'https://www.facebook.com/groups/627710653924920/?fref=ts', target: '_blank'
  .footer__staff
    = 'Organizers: '
    =link_to '@ken1flan', 'https://github.com/ken1flan'
    = ', '
    =link_to '@willnet', 'https://github.com/willnet'
    = ', '
    =link_to '@y-yagi', 'https://github.com/y-yagi'
    = '/ '
    = 'Illustration: '
    =link_to '@ken1flan', 'https://github.com/ken1flan'
    = '/ '
    = 'Design: '
    =link_to '@ken_c_lo', 'https://github.com/taea'
