.hero-image
  %h1
    =image_tag('logo.svg', alt: 'ぎんざRuby会議01', class: 'hero-image__logo')
  =image_tag('pic-train.png', class: 'hero-image__train')
  =image_tag('pic-hostess.png', class: 'hero-image__hostess')
  =image_tag('pic-middle.png', class: 'hero-image__middle')
  =image_tag('pic-attendant.png', class: 'hero-image__attendant')
  =image_tag('pic-itasan.png', class: 'hero-image__itasan')
.description
  .description__date 2017年8月15日（土）
  .description__venue 於: 株式会社 みんなのウェディング 会議室
  .description__theme お題: Ruby on Rails
  .description__button-box
    =link_to 'スピーカー応募はこちら', '', target: '_blank', class: 'description__btn-cfp'
  %p.description__text
    ぎんざRuby会議01 は Ruby地域コミュニティである Ginza.rb 主催の地域Ruby会議です。
    %br
    Ginza.rb は、2013年6月に発足し、毎月第 3 火曜にミートアップを開催してきました。
    %br
    皆様のおかげで、今年8月に50回目のミートアップを迎える事が出来ます。
    %br
    今回、その50回目の記念として、ぎんざRuby会議01を開催いたします。
    %br
    ぎんざRuby会議01のテーマは、「Ruby on Rails」です。
    %br
    講演には、松田明さん、上薗竜太さんをゲストに招待します。
    %br
    また、発表枠として、通常発表枠(25分)とLT枠(5分)の2枠ご用意させて頂きました。
    %br
    普段Railsを使われている皆様と、Railsに関する知見や普段やられている取り組みをなどを共有し、
    %br
    互いに学べる場に出来ればと考えおります。
    %br
    みなさまのご参加をお待ち申し上げます。
%section.section.section--guest
  %h2 ゲスト講演
  .guest
    .guest__speaker.is-a_matsuda
      .guest__name 松田 明
      .guest__id='@a_matsuda'
      .guest__link
        =link_to image_tag('icon-twitter.png', class: 'guest__twitter'), 'https://twitter.com/a_matsuda', target:"_blank", class: 'guest__sns-link'
        =link_to image_tag('icon-github.png', class: 'guest__github'), 'https://github.com/amatsuda', target: '_blank', class: 'guest__sns-link'
    .guest__speaker.is-kamipo
      .guest__name 上薗 竜太
      .guest__id='@kamipo'
      .guest__link
        =link_to image_tag('icon-twitter.png', class: 'guest__twitter'), 'https://twitter.com/kamipo', target:"_blank", class: 'guest__sns-link'
        =link_to image_tag('icon-github.png', class: 'guest__github'), 'https://github.com/kamipo', target: '_blank', class: 'guest__sns-link'
    =image_tag('pic-turret.png', class: 'guest__turret')
%footer.footer
  =link_to image_tag('logo-ginzarb.png', alt: 'ginza.rb', class: 'footer__logo-image'), 'http://ginzarb.github.io/', alt: 'ginza.rb', target: '_blank', class: 'footer__logo-link'
  .footer__copyright 主催: ginza.rb
  .footer__links
    =link_to image_tag('icon-twitter.png', class: 'footer__twitter'), 'https://twitter.com/ginzarb2', target:"_blank"
    =link_to image_tag('icon-github.png', class: 'footer__github'), 'https://github.com/ginzarb', target: '_blank'
    =link_to image_tag('icon-facebook.png', class: 'footer__facebook'), 'https://www.facebook.com/groups/627710653924920/?fref=ts', target: '_blank'
  .footer__staff
    = 'Orginzers: '
    =link_to '@ken1flan', 'https://github.com/ken1flan'
    = ', '
    =link_to '@willnet', 'https://github.com/willnet'
    = ', '
    =link_to '@y-yagi', 'https://github.com/y-yagi'
    = '/ '
    = 'Illustration: '
    =link_to '@ken1flan', 'https://github.com/ken1flan'
    = '/ '
    = 'Design: '
    =link_to '@ken_c_lo', 'https://github.com/taea'
